* {
  font-family: 'Work Sans', sans-serif;
}

body {
  background-image: linear-gradient(to bottom, #191654,#43C6AC);
  height: 100%;
  width: 100%;
}

.card {
  background-color: white;
  box-shadow: 5px 5px 10px #0000000c;
  padding: 24px;
  transition: transform .2s;
  border-radius: 8px;
  margin-bottom: 20px;
  border-left: turquoise 20px solid;
}

.card-header{

  background-color: turquoise;
}

.flex-layout {
  display: flex;
  flex: auto;
  flex-direction: row;
  min-width: 320px;
  height: fit-content;
  border-radius: 8px;
}

.flex-layout-inner {
  display: flex;
  flex-direction: column;
  width: fit-content;
}

.card:hover {
  transform: scale(1.05);
  z-index: 1;
  cursor: pointer;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.123), 0 6px 20px 0 rgba(0, 0, 0, 0.13);
}

.card:active {
  transform: scale(0.9);
}


h1 {
    font-weight: 600;
    text-align: center;
    color: white;
    text-shadow: 2px 2px 5px #00000023;
    letter-spacing: -2px;
    font-size: 48px;
}

h3 {
    padding-left: 16px;
}

